*{
			
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    color:white;
    }
            
    header{
    position: relative;
    margin: 20px auto;		
    width: 1000px;
    height: 120px;
    background: #0099ff ;
    margin-top: 30px;
    }

    .logotipo{
    width: 7px;
    height: 12px;
    border-radius: 3px solid #0099ff;
    padding-top: 25px;
    padding-left: 5px;
    }

    .logotipo img {
        margin-top: 10px;
        border-radius: 5px;
        margin-left: 5px;
    }

    .icono {
    float: right;
    top: 40px;
    right: 120px;
    margin-right: 20px;
    margin-left: 10px;
    margin: 10px;
    border-radius: 100px;
    width: 42px;
    height: 42px;
    background: #ffffff ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .icono:hover {
        background-color: rgb(126, 229, 255);
    }

    nav{
    position: relative;
    margin: 20px auto;
    width: 1000px;
    height: 48px;
    background: whrite;
    }

    .botones{
    float: left;
    width: 196px;
    margin: 0px 2px;
    height: 48px;
    background: #0099ff ;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.botones:hover {
    background-color: rgb(126, 229, 255);
}

    #top {
    position: relative;
    margin: 15px auto;
    width: 1000px;
    height: 192px;
    }

    #top ul {
    width: 1010px;
    height: 190px;
    background:#FFFFFF;
    }

    #top ul li {
    float: left;
    width: 324px;
    height: 190px;
    top: 40px;
    right: 120;
    margin-right:3px; 
    margin-left:3.2px; 
    background: #ffffff;
    border: 3px solid #0099ff;
    }

    #top ul li:hover {
       background-color: rgb(126, 229, 255);
    }

    .iconos {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    

    section{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 454px;
    background:#ffffff;
    margin: 20px auto;
    
    }

    .lol {
    font-size: 30px;
    color: black;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 10px;
    }

    .lol:hover {
        background-color: rgb(126, 229, 255);
    }

    .lista {
        margin-top: 70px;
        text-align: center;
    }


    .contacto{
        text-align: center;
    }

    .contacto img {
        width: 170px;
        height: 170px;
        background-color: #000000;
        border-radius: 20px;
    }

    .contacto img:hover {
        background-color: rgb(126, 229, 255);
    }
    
    

    .Form-register {
        width: 949px;
        height: 400px;
        background: #0099ff;
        padding: 30px;
        margin: auto;
        margin-top: 6px;
        border-radius: 4px;
        color: #000000;
       
    }

    .Form-register h4 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .controls {
        width: 100%;
        background: #ffffff;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #FFFFFF;
        font-size: 18px;
        color: #000;
    }

    .Form-register p {
        height: 40px;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
    }

    .Form-register a :hover {
        color:white;
        text-decoration: underline;
    }

    .Form-register .botons {
        width: 100%;
        background:#386fb1;
        border: none;
        padding: 12px;
        color: #FFFFFF;
        margin: 16px 0;
        font-size: 16px;

    }

    .Form-register .botons:hover {
        background:#003e68;
    }

    .swiper{
        
    height: 100%;
    width: 50%;
    padding: 150px 0 50px 0;
    background-color: #386fb1;
    font-family: Helvetica neue, Helvetica;
    font-size: 14px;
    color: #000;
    margin-left: 150px;
    padding: 0;
}
    
    .swiper-slide {
    width: 300px;
    height: 400px;
    background-color: #386fb1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    
    .icons i {
        font-size: 20px;
        color: #ffffff;
    }
    
    .product-img {
        flex-basis: 100%;
    }
    
    .product-img img {
        width:200px;
    }

    .parrafo {
        text-align: justify;
    }

    .footer{
        position: relative;
        margin: 10px auto;		
        width: 1000px;
        height: 100px;
        background: #0099ff ;
        margin-top: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            }
    
    
    




   

